<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mortar.client"
    android:versionCode="3
    android:versionName="1.0.3" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:name="org.mortar.client.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.mortar.client.activities.LuncherActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Transparent" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="org.mortar.client.ListenerService" />

        <activity
            android:name="org.mortar.client.activities.InfoActivity"
            android:label="@string/title_activity_info" >
        </activity>
        <activity
            android:name="org.mortar.server.ServerActivity"
            android:label="@string/title_activity_server" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="org.mortar.client.SMSReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.DATA_SMS_RECEIVED" />

                <data android:port="@integer/sms_port" />
                <data android:scheme="sms" />
            </intent-filter>
        </receiver>

        <activity
            android:name="org.mortar.server.NumbersActivity"
            android:label="@string/title_activity_number_list" >
        </activity>
        <activity
            android:name="org.mortar.client.activities.ViewLogActivity"
            android:label="@string/title_activity_view_log" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.mortar.server.ConfigActivity"
            android:label="Mortart Config" >
        </activity>
    </application>

</manifest>