<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mortar.sensor"
    android:versionCode="11"
    android:versionName="1.1.1" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- push: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="org.mortar.sensor.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="org.mortar.sensor.permission.C2D_MESSAGE" />
    
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:name="org.mortar.sensor.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.mortar.sensor.activities.LuncherActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Transparent" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="org.mortar.sensor.services.GPSListenerService" />

        <activity
            android:name="org.mortar.sensor.activities.InfoActivity"
            android:label="@string/title_activity_info" >
        </activity>
        <activity
            android:name="org.mortar.sensor.activities.ViewLogActivity"
            android:label="@string/title_activity_view_log" >
        </activity>
        <receiver
            android:name="org.mortar.sensor.services.SMSReceiver"
            android:exported="false" >
            <intent-filter>
                <!-- can't be @string/action. must be inline -->
                <action android:name="org.mortar.sensor.MortarMessage" />
            </intent-filter>
            <!-- 
            <intent-filter>
                <action android:name="android.intent.action.DATA_SMS_RECEIVED" />

                <data android:port="@integer/sms_port" />
                <data android:scheme="sms" />
            </intent-filter>
             -->
        </receiver>
        
        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="org.mortar.sensor" />
            </intent-filter>
        </receiver>
    </application>

</manifest>