<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mortar.client"
    android:versionCode="6"
    android:versionName="1.0.6" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- push: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="org.mortar.client.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="org.mortar.client.permission.C2D_MESSAGE" />

    <application
        android:name="org.mortar.client.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.mortar.client.activities.LuncherActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Transparent" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="org.mortar.client.services.GPSListenerService" />

        <activity
            android:name="org.mortar.client.activities.InfoActivity"
            android:label="@string/title_activity_info" >
        </activity>
        <activity
            android:name="org.mortar.server.ServerActivity"
            android:label="@string/title_activity_server" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="org.mortar.client.services.SMSReceiver" android:exported="false">
            <intent-filter>
                <action android:name="org.mortar.client.MortarMessage" />
            </intent-filter>
            <intent-filter>
             <action android:name="android.intent.action.DATA_SMS_RECEIVED" />

                <data android:port="@integer/sms_port" />
                <data android:scheme="sms" />
            </intent-filter>
        </receiver>

        <activity
            android:name="org.mortar.server.NumbersActivity"
            android:label="@string/title_activity_number_list" >
        </activity>
        <activity
            android:name="org.mortar.client.activities.ViewLogActivity"
            android:label="@string/title_activity_view_log" >
        </activity>
        <activity
            android:name="org.mortar.server.ConfigActivity"
            android:label="Mortart Config" >
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="org.mortar.client" />
            </intent-filter>
        </receiver>
    </application>

</manifest>